.single-container
  %header.single-header
    %h1
      %figure.single-container__header-icon
        = link_to root_path do
          %figure.single-container__header-icon-image
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2845599746"
    %nav.progress-bar.signup-bar
      %ol.clearfix
        %li.member-page
          会員情報
          .progress-status
        %li.phone-page
          電話番号認証
          .progress-status
        %li.address-page
          お届け先住所入力
          .progress-status
        %li.credit-page
          支払い方法
          .progress-status
        %li.comp-page.active
          完了
          .progress-status
  // 登録完了画面
  %main.single-main
    %section.l-single-container
      %h2.l-single-head 会員登録完了
      .l-single-inner
        .l-single-content
          .form-group
            %p.form-info-text
              ありがとうございます。
              %br
              会員登録が完了しました。

          .btn-default.btn-red
            = link_to 'メルカリを始める', root_path
          .form-group.text-right
            %p
              %a{href: "", target: "_blank"}
                メルカリについて
                %i.fa.fa-angle-right

  = render "users/user_footer"
