%nav.bread-crumbs
  %ul
    %li
      = link_to '#' do
        %span メルカリ
      %i.fa.fa-angle-right
    %li
      = link_to '#' do
        #span 正規品！COACH【コーチ】★★大きめ ミニシグネチャー ショルダーバッグ
    / %li
    /   = link_to '#' do
    /     %span マイページ
    /   %i.fa.fa-angle-right
    / %li
    /   = link_to '#' do
    /     %span ログアウト
