
-# = render 'shared/header'

%nav.bread-crumbs
  %ul
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
        %span{:itemprop => "title"} メルカリ
      %i.icon-arrow-right
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %a{:href => "https://www.mercari.com/jp/mypage/", :itemprop => "url"}
        %span{:itemprop => "title"} マイページ
      %i.icon-arrow-right
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %a{:href => "https://www.mercari.com/jp/mypage/purchase/", :itemprop => "url"}
        %span{:itemprop => "title"} 購入した商品 - 取引中
      %i.icon-arrow-right
    %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
      %span{:itemprop => "title"} 取引画面
%main.l-container.clearfix
  .l-content
    %section.l-chapter-container
      %h2.l-chapter-head 取引画面
      .transact-attention
        %h3
          %i.icon-time
          %span 発送をお待ちください
        %p 出品者からの発送通知をお待ちください。
      %ul.transact-guide.text-right
        %li
          %a{:href => "/jp/help_center/category/5/", :target => "_blank"}
            %span 購入した後の流れ
            %i.icon-arrow-right
        %li
      .message-container
        .message-content
          .notification.notification-success
            メッセージを送りました
            %i.icon-close
          %ul.message-items
            %li.clearfix
              %a.message-user{:href => "https://www.mercari.com/jp/u/534324103/"}
                %figure
                  %div
                    %img{:alt => "", :src => "//static.mercdn.net/thumb/members/534324103.jpg?1521981262"}/
                  %figcaption.bold
                    なみたん
              .message-body
                .message-body-text こんにちわ、この度はご購入ありがとうございます。発送終えましたらコメントさせてもらいます。
                .message-icons.clearfix
                  %time.message-icon-left
                    %i.icon-time
                    %span 46 秒前
                %i.icon-balloon
            %li.clearfix.message-self
              %a.message-user{:href => "https://www.mercari.com/jp/u/178529040/"}
                %figure
                  %div
                    %img{:alt => "", :src => "//static.mercdn.net/thumb/members/178529040.jpg?1425734532"}/
                  %figcaption.bold
                    Ryunosuke Ide
              .message-body
                .message-body-text こんにちは、よろしくお願いします！
                .message-icons.clearfix
                  %time.message-icon-left
                    %i.icon-time
                    %span 0 秒前
                %i.icon-balloon
        .message-content
          %form.message-form{:action => "https://www.mercari.com/jp/transaction/message/m18251864076/", :method => "POST"}
            %input{:name => "__csrf_value", :type => "hidden", :value => "a50969b0ebdc51fb05cb19bc49a1e9db2011786b93ef65c6eb24ee21407267529e12152d425a4ff8c7423eab9d587880161901ad69b4c4d8c5c9808af854f5dd6"}/
            %p 取引メッセージの内容は、必要に応じて事務局で確認しています
            %input{:name => "item_id", :type => "hidden", :value => "m18251864076"}/
            %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
            %button.message-submit.btn-default.btn-gray{:type => "submit"}
              %span 取引メッセージを送る
        %aside.modal{"data-close" => "modal", "data-modal" => "delete-comment"}
          .modal-inner.modal-banner
            .modal-body
              .modal-head.bold 確認
              %div{"data-comment" => "body"}
              %br/
              本当にこのコメントを削除してよろしいですか？
            %form{:action => "https://www.mercari.com/jp/comment/delete/", :method => "POST"}
              .clearfix
                .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
                %button.modal-btn.modal-btn-submit{:type => "submit"}
                  削除する
              %input{:name => "item_id", :type => "hidden", :value => "m18251864076"}/
              %input{:name => "comment_id", :type => "hidden", :value => ""}/
              %input{:name => "__csrf_value", :type => "hidden", :value => "a50969b0ebdc51fb05cb19bc49a1e9db2011786b93ef65c6eb24ee21407267529e12152d425a4ff8c7423eab9d587880161901ad69b4c4d8c5c9808af854f5dd6"}/
      .message-content
        ※お困りの際は
        %a{:href => "/jp/help_center/category/1/", :target => "_blank"}> よくある質問
        をご確認ください。
    %aside.modal{"data-close" => "modal", "data-modal" => "seller-cancel"}
      .modal-inner.modal-banner
        .modal-body
          .modal-head.bold 取引をキャンセルしますか？
          キャンセル後、商品は出品停止状態になりますので、再度出品をお願いいたします
        .clearfix
          .modal-btn.modal-btn-cancel{"data-close" => "modal"} いいえ
          %form{:action => "/jp/transaction/seller_cancel/done/m18251864076/", :method => "POST", :novalidate => "novalidate"}
            %input{:name => "__csrf_value", :type => "hidden", :value => "a50969b0ebdc51fb05cb19bc49a1e9db2011786b93ef65c6eb24ee21407267529e12152d425a4ff8c7423eab9d587880161901ad69b4c4d8c5c9808af854f5dd6"}/
            %button.modal-btn.modal-btn-submit{:type => "submit"} はい
    %aside.modal{"data-close" => "modal", "data-modal" => "buyer-cancel"}
      .modal-inner.modal-banner
        .modal-body
          .modal-head.bold 取引キャンセルを依頼しますか
          事務局にて取引内容を確認後、対応してまいります
        .clearfix
          .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
          %form{:action => "/jp/transaction/buyer_cancel/done/m18251864076/", :method => "POST", :novalidate => "novalidate"}
            %input{:name => "__csrf_value", :type => "hidden", :value => "a50969b0ebdc51fb05cb19bc49a1e9db2011786b93ef65c6eb24ee21407267529e12152d425a4ff8c7423eab9d587880161901ad69b4c4d8c5c9808af854f5dd6"}/
            %button.modal-btn.modal-btn-submit{:type => "submit"} はい
  .l-side
    %section.l-side-container
      %h3.transact-info-head 取引情報
      .transact-info-inner
        %ul.transact-info-table
          %li.transact-info-table-row
            %span.transact-info-table-cell 商品
            %ul.transact-info-table-cell
              %li
                %a{:href => "https://item.mercari.com/jp/m18251864076/"}
                  %img.lazyloaded{:alt => "", "data-src" => "https://static.mercdn.net/thumb/photos/m18251864076_1.jpg?1553153276", :src => "https://static.mercdn.net/thumb/photos/m18251864076_1.jpg?1553153276"}/
                  .transact-info-item.bold
                    新どろあわわ「さっぱりタイプ」
                    %br/
                    ¥ 1,700
          %li.transact-info-table-row
            %span.transact-info-table-cell 送料
            %ul.transact-info-table-cell
              %li
                送料込み(出品者負担)
          %li.transact-info-table-row
            %span.transact-info-table-cell 購入日時
            %ul.transact-info-table-cell
              %li 3月25日 14:14
          %li.transact-info-table-row
            %span.transact-info-table-cell 商品ID
            %ul.transact-info-table-cell
              %li m18251864076
          %li.transact-info-table-row
            %span.transact-info-table-cell お届け先
            %ul.transact-info-table-cell
              %li
                %p 〒451-0053
                %p
                  愛知県名古屋市中村区0-00-00
                %p
                  %span.buyer-name
                    メルカリ
                    タロウ
                  様
    %section.l-side-container
      %h3.transact-info-head 出品者情報
      .transact-info-inner
        %a.transaction-user-icon{:href => "https://www.mercari.com/jp/u/534324103/"}
          %figure
            %div
              %img{:alt => "", :src => "https://static.mercdn.net/members/534324103.jpg?1521981262", :width => "40"}/
            %figcaption.bold
              .transact-user-name
                なみたん
          %i.icon-arrow-right



= render 'shared/footer'
