%ul.main-category.hidden
  - @category.each do |category|
    %li.main-category__list
      = link_to root_path,class: "lists-menu__categories--category-link" do
        %h3.main-category__name
          = category.name
      / %ul.child-category.hidden
      /   - @child_category[category.id - 1].each_with_index do |child_category, i|
      /     %li.child-category__list
      /       = link_to root_path,class: "child-category__sub-category-link" do
      /         = child_category.name
      /     %ul.child-category.hidden
      /       - @grand_child_category[i].each do |grand_child_category|
      /         %li.child-category__list
      /           = link_to root_path,class: "child-category__sub-category-link" do
      /             = grand_child_category.name
      /プルダウンメニューは後から作成します

  %li.main-category__list
    = link_to all_categories_show_items_path,class: "lists-menu__categories--category-link" do
      %h3.main-category__name
        カテゴリー一覧

