.footer-sell-btn
  = link_to new_item_path, class: "footer-sell-btn__link" do
    .footer-sell-btn__text
      出品
    %i.fa.fa-camera.icon-camera

- if (request.path_info == '/items/all_categories_show') || (request.path_info == '/items/all_brands_show')
  = link_to "#0", class: "top-scroll-btn__link" do
    .top-scroll-btn
      %i.fa.fa-angle-up.icon-up
      .top-scroll-btn__text
        RISING

