.l-side
  %section.l-side-container
    %h3.transact-info-head 取引情報
    .transact-info-inner
      %ul.transact-info-table
        %li.transact-info-table-row
          %span.transact-info-table-cell 商品
          %ul.transact-info-table-cell
            %li
              %a{:href => "https://item.mercari.com/jp/m18251864076/"}
                %img.lazyloaded{:alt => "", "data-src" => "https://static.mercdn.net/thumb/photos/m18251864076_1.jpg?1553153276", :src => "https://static.mercdn.net/thumb/photos/m18251864076_1.jpg?1553153276"}/
                .transact-info-item.bold
                  新どろあわわ「さっぱりタイプ」
                  %br/
                  ¥ 1,700
        %li.transact-info-table-row
          %span.transact-info-table-cell 送料
          %ul.transact-info-table-cell
            %li
              送料込み(出品者負担)
        %li.transact-info-table-row
          %span.transact-info-table-cell 購入日時
          %ul.transact-info-table-cell
            %li 3月25日 14:14
        %li.transact-info-table-row
          %span.transact-info-table-cell 商品ID
          %ul.transact-info-table-cell
            %li m18251864076
        %li.transact-info-table-row
          %span.transact-info-table-cell お届け先
          %ul.transact-info-table-cell
            %li
              %p 〒451-0053
              %p
                愛知県名古屋市中村区0-00-00
              %p
                %span.buyer-name
                  メルカリ
                  タロウ
                %span.sama
                  様
  %section.l-side-container
    %h3.transact-info-head 出品者情報
    .transact-info-inner
      %a.transaction-user-icon{:href => "#"}
        %figure
          %div.image-box
            %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "40"}/
          %figcaption.bold
            .transact-user-name
              メルカリ二郎
        %i.fa.fa-angle-right
