.all-show-index {
  background: transparent;
  margin: 40px auto;
  &__title {
    display: block;
    background-color: #f5f5f5;
    h2 {
      padding: 8px 15px;
      font-size: 22px;
      line-height: 1.4;
      font-weight: bold;
    }
  }
  .category-list-menu {
    @include clearfix;
    padding: 0 0 15px 5px;
    .current-group {
      opacity: 1;
      text-decoration: none;
      color: #fff;
      background-color: #ea352d;
    }
    &__link-name {
      display: block;
      float: left;
      letter-spacing: 0;
      border-radius: 4px;
      box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.05803);
      min-width: 80px;
      height: 40px;
      font-size: 16px;
      padding: 0 30px;
      margin: 5px;
      color: #333;
      line-height: 40px;
    }
    &__link-name:hover {
      background-color: $red;
      color: $white;
    }
  }
  .category-lists-boxes {
    margin: 30px auto;
    .category-lists-box {
      @include clearfix;
      border-radius: 4px;
      margin-bottom: 40px;
      &__root-category-name {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 7px 30px 0 30px;
        height: 40px;
        h3 {
          font-size: 22px;
          font-weight: bold;
        }
      }
      &__inner-box {
        padding: 24px 30px 10px 30px;
        p {
          font-size: 16px;
          margin-top: 8px;
          margin-bottom: 8px;
        }
        a {
          color: #0099e8;
        }
        a:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
        .child-category-name {
          padding-top: 15px;
          padding-bottom: 5px;
          font-weight: bold;
        }
        .grand-child-category-box {
          @include clearfix;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10px;
          &__grand-child-category-name {
            float: left;
            width: 50%;
            padding: 0 20px 0 0;
          }
        }
      }
    }
  }
}

.l-single-container {
  width: 700px;
}
.text-center {
  text-align: center;
}
.white {
  background-color: #fff;
}
.font-white {
  color: #fff;
}
.red {
  background-color: #ea352d;
}
