.lists-menu {
  .hidden {
    display: none;
  }
  &__brands {
    &--brand-link {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 48px;
      font-size: 14px;
      color: $light_black;
      padding: 0 16px;
    }
    &--brand-link:hover {
      background-color: $red;
      color: $white;
    }
    .main-brand {
      z-index: 100;
      position:absolute;
    }
    li {
      float: left;
      width: 224px;
      height: 44px;
      background-color: $white;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
    }
  }

  &__categories {
    &--category-link {
      display: block;
      font-size: 14px;
      color: $light_black;
      padding: 0 16px;
      line-height: 44px;
    }
    &--category-link:hover {
      background-color: $red;
      color: $white;
    }
    .main-category {
      z-index: 100;
      position: absolute;
      &__list {
        float:left;
        width:224px;
        height:44px;
        background-color: $white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
      }
      &__link {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
      }
      &__name {
        left: 0;
      }
    }
    .child-category {
      position:absolute;
      left:224px;
      top:0;
      bottom: 0;
      &__list {
        float:left;
        position:relative;
        width: 224px;
        background-color: $white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
        padding: 8px 16px;
      }
      &__sub-category-link {
        display: block;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
      }
      &__list:hover {
        background: #eee;
        opacity: 1;
      }
    }
    .grand-child-list-width {
      width: 320px;
    }
  }
  &__categories:after ,&__brands:after {
    height:0;
    visibility:hidden;
    content:".";
    display:block;
    clear:both;
  }
}
