.user-details {
  margin: 40px auto;
  width: 700px;
  background: $white;
  &__profile-box {
    background-image: image-url("individual.jpg");
    background-size: cover;
    padding-top: 50px;
    text-align: center;
    &__link {
      text-align: center;
      &__photo {
        margin: 0 auto;
        &__image {
          width: 180px;
          height: 180px;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
        }
      }
      &__title {
        margin: 8px 0 16px;
        font-size: 24px;
        font-weight: 400;
        color: $light_black;
        line-height: 1.4;
      }
    }
    &__score {
      padding-bottom: 30px;
      font-size: 14px;
      font-weight: 600;
      color: #333;
      span {
        margin-right: 15px;
        .follow-button {
          display: inline-block;
          margin: 20px 0 0;
          #follow_form {
            form {
              .btn-primary {
                border-style:none;
                display: block;
                width: 150px;
                line-height: 60px;
                color: $light_black;
                border-radius: 10px;
                font-size: 16px;
                cursor: pointer;
              }
            }
          }
        }
        .stats {
          display: inline-block;
          margin: 20px 0 0;
          a {
            color: $light_black;
            font-size: 14px;
          }
          a:first-child {
            margin: 0 9px 0 0;
          }
        }
      }
    }
  }
  .white {
    background: $white;
    .icon-good {
      color: #ef5185;
    }
    .icon-normal {
      color: #fba933;
    }
    .icon-bad {
      color: #6ab5d8;
    }
    &__users-ratings {
      height: 50px;
      padding-top: 14px;
      width: 360px;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 400;
      color: $light_black;
      text-align: center;
      &__div {
        float: left;
        &__detail {
          @include clearfix;
          line-height: 26px;
          i {
            font-size: 24px;
            display: inline-block;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            vertical-align: middle;
          }
          &__score {
            display: inline-block;
            vertical-align: middle;
            width: 60px;
            margin: 0 0 0 14px;
          }
        }
      }
    }
    &__description_box {
      padding: 30px 50px 60px 50px;
      border-top: 2px solid #f5f5f5;
      line-height: 1.5;
      word-break: break-all;
      .font-2 {
        font-size: 16px;
        font-weight: 400;
        color: $light_black;
      }
    }
  }
  .item-social-media-box {
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
    background: $white;
    .social-media-box {
      margin: 16px 0 0;
      text-align: center;
      font-size: 0;
      li {
        display: inline-block;
        margin: 0 8px 8px 0;
        vertical-align: middle;
        text-align: center;
        a {
          display: block;
          i {
            width: 44px;
            height: 44px;
            border-radius: 4px;
            line-height: 44px;
            font-size: 26px;
            display: inline-block;
            speak: none;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
          }
          .fa-facebook-square {
            color: $white;
            background: #385185;
          }
          .fa-twitter {
            color: $white;
            background: #5d9dc9;
          }
          .fa-line {
            color: #00c137;
            font-size: 50px;
          }
        }
      }
    }
  }
  .items-box-container {
    @include clearfix;
    overflow: hidden;
    .items-box-head {
      margin: 24px 0 8px;
      font-size: 22px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__content {
      padding: 0;
      width: auto;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      margin: 0 auto;
      font-size: 0;
      .items-box:nth-child(3n+1) {
        margin: 0 0 20px;
      }
      .items-box {
        float: left;
        display: block;
        width: 220px;
        vertical-align: inherit;
        max-width: 220px;
        margin: 0 0 20px 20px;
        &__link {
          color: $light_black;
          display: block;
          &__photo {
            width: 220px;
            height: 220px;
            overflow: hidden;
            position: relative;
            // padding: 0 0 100%;
            img {
              position: absolute;
              top: 0;
              bottom: 0;
              z-index: 1;
              width: 220px;
              left: 50%;
              right: auto;
              height: 100%;
              transform: translate(-50%, 0);
            }
          }
        }
        &__body {
          padding: 16px;
          height: 110px;
          &__name {
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            font-size: 16px;
            color: $light_black;
          }
          &__num {
            margin: 8px 0 0;
            padding: 0;
            @include clearfix;
            &__price {
              font-size: 20px;
              float: left;
              font-weight: 600;
              color: $light_black;
            }
            &__tax {
              font-size: 10px;
              clear: both;
            }
            &__likes {
              float: right;
              font-size: 16px;
              font-weight: 400;
              color: $light_black;
              i {
                color: #aaa;
                margin-right: 2px;
              }
            }
          }
        }
      }
    }
  }
}
