// // Place all the styles related to the items controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
// .clearfix::after{
//   content: "";
//   display: block;
//   clear: both;
// }

.pickup-container {
  padding: 40px 0;
  background: #f5f5f5;
  h2 {
    margin: 0;
    font-size: 28px;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .items-box-container {
    width: 940px;
    margin: 0 auto;
    h3 {
      font-size: 22px;
      margin: 26px 11px;
      a {
        text-decoration: none;
      }
    }
    &__list {
      @include clearfix;
      width: auto;
      margin: 0 auto;
      .items-boxes {
        margin: 0 0 0 20px;
        width: 213px;
        position: relative;
        float: left;
        a {
          display: block;
          color: #333;
          background-color: white;
        }
        &__photo {
          width: 213px;
          height: 220px;
          overflow: hidden;
          position: relative;
          margin: 0;
          img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
          }
        }
        .items-box-explain {
          padding: 16px;
          height: 110px;
          &__item-name {
            font-size: 16px;
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
            margin: 0;
          }
          .items-box-num {
            @include clearfix;
            margin: 8px 0 0;
            p {
              margin: 0;
            }
            &__price {
              font-size: 16px;
              font-weight: 600;
              color: #333;
            }
            p {
              font-size: 10px;
              clear: both;
            }
          }
        }
      }
      .items-box:last-child {
        display: none;
      }
    }
    .view-all {
      padding: 20px 0 30px;
      width: 99.5%;
      font-size: 15px;
      a {
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
}


