
.chapter-container {
  background-color: $white;
  &:first-child {
    margin: 0;
  }
  &__single-inner {
    padding: 64px;
    border-top: 1px solid #f5f5f5;
    &__content {
      max-width: 320px;
      margin: 0 auto;
    }
    .btn-red {
      background-color: $red;
      border: $border_red;
      color: $white;
      font-family: inherit;
      &:first-child {
        margin: 0;
      }
    }
    .btn-default {
      display: block;
      width: 100%;
      line-height: 46px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
    }
  }
}


