.mainpage {
  background-color: #fff;
  .slide-pc{
    height: 390px;
    width: 100vw;
  }
  .pickup-contents {
  overflow: hidden;
  padding: 40px;
  background: #f5f5f5;
  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .items-contents {
    width: 1040px;
    margin: 0 auto;
    &__title {
      font-size: 22px;
      margin: 26px 4% 11px 0;
      text-align: center;
      font-weight: bold;
      color: #0099e8;
      a{
      }
    }
    .items-box-content {
      margin-left: 20px;
      .items-box {
        position: relative;
        float: left;
        margin: 0 0 20px 20px;
        .detail-page {
          &__img {
            width: 220px;
            height: 220px;
            background-color: #fff;
          }
          &__body {
            width: 220px;
            height: 110px;
            padding: 16px;
            box-sizing: border-box;
            background-color: #fff;
            .item-name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              text-decoration: none;
            }
            .item-price {
              margin: 8px 0 0;
              text-decoration: none;
            }
          }
        }
      }
      a:link { color : #000000; }
      a:visited { color : #000000; }
    }
  }
  }
}
