* {
  margin: 0;
  padding: 0;
}

.sell-form-box ul {
  list-style: none;
}

.footer-contract a {
  text-decoration: none;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helveticam Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
}

.blue-font {
  color: #0099e8;
  text-decoration: none;
  touch-action: manipulation;
}

.single-container {
  padding: 0 0 220px;
  background-color: #f5f5f5;
}

.single-header {
  height: 128px;
  text-align: center;
}

.single-header h1 {
  margin: 40px 0 0;
  display: inline-block;
}

.single-header a {
  width: 185px;
  height: 49px;
  line-height: 49px;
  display: inline-block;
  margin: 0 8px 0 0;
}

.single-header img {
  width: 185px;
  height: 49px;
  vertical-align: middle;
}

.single-main {
  display: block;
}

.l-single-container {
  background: #fff;
  width: 700px;
  margin: 0 auto;
}

.l-single-head {
  text-align: center;
  font-size: 22px;
  padding: 32px 16px;
  margin: 0;
}

.sell-form {
  border-top: 1px solid #eee;
}

.sell-upload-box {
  width: 620px;
  padding: 40px;
  height: 305px;
}

.sell-upload-head {
  font-size: 16px;
}

.form-require {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  vertical-align: top;
}

.sell-upload-head p {
  margin: 8px 0 0;
  line-height: 1.5;
}

.l-single-container .buy-item-container{
  width: 700px;
  margin: 0 auto;
  background: #fff;
}

.sell-form {
  border-top: 1px solid #eee;
  display: block;
}

.sell-upload-head {
  font-size: 16px;
}

.max-10-upload {
  margin: 8px 0 0;
  line-height: 1.5;
  font-size: 14px;
}

.sell-dropbox-container {
  display: block;
  width: 620px;
  margin: 16px auto 0;
}

.sell-upload-items {
  display: inline;
}

.sell-upload-drop-box {
  position: relative;
  min-height: 162px;
  background: #f5f5f5;
  border: 1px dashed #ccc;
  font-size: 0;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-left: 0;
  float: right;
  padding: 40px;
}

.sell-upload-drop-box pre {
  position: absolute;
  top: 50%;
  left: 16px;
  right: 16px;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  transform: translate(0, -50%);
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.visible-pc {
  display: block;
}

pre {
  overflow: auto;
  font-family: monospace,monospace;
}

sell-upload-drop-box .icon-camera {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.sell-content {
  padding: 40px;
  border-top: 1px solid #eee;
}

.sell-content label {
  font-size: 14px;
}

.item-detail {
  height: 255px;
}

.item-delivery {
  height: 360px;
}

.item-price {
  height: 300px;
}

.form-group label {
  font-weight: 600;
  display: inline-block;
}

.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
}

.sell-price-input .input-default {
  margin: 0;
  text-align: right;
  width: 85%;
}

.price-mark {
  line-height: 48px;
  float: left;
  font-size: 14px;
}

.form-group:first-child {
  margin: 0;
}

.form-group {
  margin: 40px 0 0;
}

.form-require {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  overflow: auto;
  margin-top: 5px;
}

.sell-sub-head {
  float: left;
  color: #888;
  font-size: 14px;
}

.sell-form-box {
  float: right;
  width: 400px;
  margin: 0;
}

.sell-price .form-group .l-left {
  width: 50%;
  line-height: 48px;
}

.l-left {
  font-size: 14px;
}

.sell-price .form-group .l-right {
  width: 50%;
}

.sell-price-input {
  text-align: right;
}

.form-group-price {
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.l-right {
  float: right;
}

.select-wrap {
  position: relative;
  background: #fff;
}

.sell-price .bold .l-right {
    font-size: 34px;
    transform: translateY(-20px);
}

.l-right-commission {
  transform: translateY(-20px);
}

.clearfix-commission {
  border-bottom: 1px solid #ccc;
  padding: 25px 0;
}

.bold {
  font-weight: bold;
  padding: 25px 0;
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  width: 100%;
  appearance: none;
}

.select-wrap .fa-angle-down {
  position: absolute;
  right: 16px;
  top: 25%;
  z-index: 2;
  color: #888;
  font-size: 25px;
}

.select-default {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sell-sub-head {
  color: #888;
  font-size: 14px;
}

.form-question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 19px;
  font-size: 12px;
  text-align: center;
}

.sell-upload-items-container .sell-upload-items {
  display: inline;
}

.sell-upload-drop-box.have-item-0 {
  width: 100%;
  margin-left: 0;
}

.sell-btn-box {
  font-size: 14px;
  line-height: 20px;
}

.l-single-container {
  width: 700px;
  background: #fff;
}

.sell-btn-box .btn-red {
  margin: 40px 0 0;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}

.sell-btn-box .btn-gray {
  width: 45%;
  margin: 24px auto 0;
}

.btn-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2999;
  background: rgba(0,0,0,64);
  transition: all .3s;
  opacity: 0;
}



.single-footer {
  width: 456px;
  height: 220px;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding: 40px 0;
  text-align: center;
}

.single-footer-logo {
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
}

.single-footer a {
  display: block;
  color: #333;
}

.footer-contract {
  font-size: 12px;
}

.single-footer li {
  display: inline-block;
  margin: 0 0 0 16px;
}

.single-footer small{
  font-size: 12px;
}
