.search-container {
  @include clearfix;
  position: relative;
  margin: 40px auto 0;
  width: 1100px;
  padding: 0 0 40px;
  display: block;
  .hidden {
    display: none;
  }
  &__left-contents {
    float: left;
    width: 280px;
    .search-extend-container {
      position: relative;
      .select-wrap {
        margin: 8px 0 0;
        position: relative;
        .price {
          width: 45%;
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: $white;
          line-height: 1.5;
          font-size: 16px;
        }
        select {
          width: 100%;
          z-index: 2;
          height: 48px;
          padding: 0 16px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 1.5;
          cursor: pointer;
          outline: 0;
          -webkit-appearance: none;
          touch-action: manipulation;
        }
        i {
          position: absolute;
          right: 20px;
          top: 50%;
          z-index: 3;
          color: #888;
          font-size: 27px;
          font-weight: bold;
          transform: translate(0, -50%);
        }
        .price-icon {
          top: 25%;
        }
      }
      .search-sort {
        opacity: 1;
        position: static;
        width: auto;
        top: 0;
        left: 0;
        z-index: 100;
        margin: 0 auto;
        .form-group:first-child {
          margin: 0;
          .select-wrap {
            background: $white;
            text-align: left;
            margin: 0;
            position: relative;
            .select-default {
              height: 48px;
              padding: 0 16px;
              border: 1px solid #ccc;
              width: 100%;
              position: relative;
              z-index: 2;
              border-radius: 4px;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              outline: 0;
            }
          }
        }
      }
      .search-dropdown {
        position: static;
        display: block;
        box-shadow: none;
        padding: 16px;
        margin: 40px 0 0;
        top: 72px;
        left: 0;
        right: 0;
        z-index: 10001;
        background: $white;
        &__large-text {
          font-size: 16px;
          display: block;
          font-weight: bold;
        }
        .brand {
          position: relative;
        }
        .first {
          margin: 24px 0 0;
        }
        .clear {
          @include clearfix;
        }
        &__btn {
          @include clearfix;
          height: 90px;
          padding: 40px 0 0;
          div,button {
            height: 48px;
            width: 45%;
            display: block;
            line-height: 48px;
            font-size: 14px;
            cursor: pointer;
            text-align: center;
            transition: all ease-out .3s;
          }
          .reset-btn {
            float: left;
            background: #aaa;
            border: 1px solid #aaa;
            color: $white;
          }
          .comp-btn {
            float: right;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
          }
        }
        &__form-group {
          position: relative;
          margin: 40px 0 0;
          label {
            display: block;
            font-weight: 600;
            .checkboxes {
              &__default:first-child {
                margin: 16px 0 0;
              }
              &__default:nth-child(even) {
                margin: 16px 0 0 4%;
              }
              &__default {
                margin: 16px 0 0;
                display: inline-block;
                width: 45%;
                vertical-align: middle;
                word-break: break-word;
                position: relative;
                font-size: 0;
              }
              input {
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 3;
                width: 20px;
                height: 20px;
                border-radius: 2px;
                background: $white;
                border: 1px solid #ccc;
                font-size: 10px;
                line-height: 17px;
                text-align: center;
                color: #fff;
                vertical-align: middle;
                transform: translate(0, -50%);
                margin: 0 4px 0 0;
              }
            }
            i {
              position: relative;
              top: -1px;
              margin: 0 4px 0 0;
              color: #888;
              font-size: 16px;
              vertical-align: middle;
            }
            label {
              font-size: 14px;
              vertical-align: middle;
              display: block;
              position: relative;
              z-index: 2;
              padding: 0 0 0 28px;
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
            }
            .input-default {
              width: 100%;
              margin: 8px 0 0;
              height: 48px;
              padding: 10px 16px 8px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: $white;
              line-height: 1.5;
              font-size: 16px;
            }
            .select-category-child, .select-category-grand-child {
              display: none;
            }
            .select-category-child.is-show, .select-category-grand-child.is-show {
              display: block;
            }
          }
        }
      }
    }
  }
  &__right-contents {
    float: right;
    width: 740px;
    margin: 0 40px 0 0;
    .hidden-large {
      display: none;
    }
    .search-nav {
      border: 1px solid #ccc;
      background: $white;
    }
    .items-boxes {
      margin: 0 auto;
      @include clearfix;
      &__result {
        font-size: 22px;
        margin: 10px 11px;
        a {
          text-decoration: none;
          color:#0099e8;
          font-weight:bold;
        }
        a:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
      }
      &__lists {
        @include clearfix;
        width: auto;
        margin: 0 auto;
        .items-card:nth-child(4n+1) {
          margin-left: 0;
        }
        .items-card:nth-child(odd) {
          margin: 0 0 20px 20px;
        }
        .items-card:nth-child(even) {
          margin-left: 20px;
        }
        .items-card:nth-child(4n) {
          margin-right: 0;
        }
        .items-card {
          width: 160px;
          position: relative;
          float: left;
          background: $white;
          margin: 0 0 20px 20px;
          a {
            display: block;
            color: #333;
          }
          &__photo {
            width: 160px;
            height: 160px;
            overflow: hidden;
            position: relative;
            padding: 0 0 100%;
            img {
              position: absolute;
              top: 50%;
              right: 0;
              bottom: 0;
              left: 0;
              transform: translate(0, -50%);
              z-index: 1;
              width: 100%;
            }
          }
          &__sold-out {
            div {
              position: absolute;
              left: 3px;
              z-index: 2;
              color: $white;
              transform: rotate(-45deg);
              letter-spacing: 2px;
              font-weight: 600;
              top: 18px;
              font-size: 16px;
              font-family: inherit;
            }
          }
          &__sold-out:after {
            border-width: 80px 80px 0 0;
            border-color: #ea352d transparent;
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 0;
            height: 0;
            border-style: solid;
          }
          .items-card-intro {
            padding: 16px;
            height: 110px;
            &__tax {
              font-size: 10px;
              clear: both;
            }
            &__item-name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
            }
            .items-card-num {
              @include clearfix;
              margin: 8px 0 0;
              p {
                margin: 0;
                font-size: 10px;
                clear: both;
              }
              &__price {
                font-size: 16px;
                font-weight: bold;
                color: #333;
                float: left;
              }
              &__likes {
                float: right;
                font-size: 16px;
                font-weight: 400;
                color: #333;
                i {
                  margin-right: 2px;
                  color: #aaa;
                }
                span {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
      a {
        color: #0099e8;
      }
      a:hover {
        text-decoration: underline;
        opacity: 0.7;
      }
    }
  }
}
