.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
    font-size: 0;
    list-style: none;
    li:last-child {
      font-weight: 600;
    }
    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      text-align: -webkit-match-parent;
      a {
        color: #333;
        text-decoration: none;
        touch-action: manipulation;
      }
      i {
        margin: 0 8px;
        font-size: 20px;
        color: #888;
        display: inline-block;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
.l-container {
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  @include clearfix;
  .l-content {
    width: 700px;
    float: right;
    @include clearfix;
    .l-chapter-container:first-child {
      margin: 0;
      @include clearfix;
    }
    .l-chapter-container {
      background: #fff;
      @include clearfix;
      .l-chapter-head {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        line-height: 1.4;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        display: block;
      }
      .transact-attention {
        position: relative;
        padding: 24px 8px;
        background: #fff6de;
        text-align: center;
        font-size: 0;
        height: 110px;
        @include clearfix;
        h3 {
          font-size: 16px;
          color: #ea352d;
          font-weight: bold;
          display: block;
        }
        i {
          margin: 0 8px 0 0;
          font-size: 40px;
          color: #ea352d;
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
        }
        p {
          margin: 8px 0 0;
          font-size: 14px;
          line-height: 1.5;
        }
      }
      .text-right {
        text-align: right;
      }
      .transact-guide {
        padding: 16px;
        li {
          margin: 8px 0 0;
        }
        li:first-child {
          margin: 0;
          a {
            color: #0099e8;
            text-decoration: none;
            span {
              vertical-align: middle;
            }
            i {
              margin: 0 0 0 8px;
              vertical-align: middle;
            }
          }
        }
      }
      .yuuyuu-content {
        text-align: center;
      }
      .l-single-inner {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        h3 {
          font-size: 22px;
          display: block;
          font-weight: bold;
        }
        .progress-bar {
          margin: 24px 0 0;
          display: inline-block;
          vertical-align: top;
          font-size: 0;
          text-align: center;
          ol {
            margin: 0;
            list-style: none;
            display: block;
            @include clearfix;
            .active {
              font-weight: 600;
              color: #ea352d;
              .progress-status {
                background: #ea352d;
                width: 12px;
                height: 12px;
                margin: 8px auto 0;
                border-radius: 50%;
                &:after {
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #ccc;
                }
                &:before {
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #ccc;
                  right: -100%;
                }
              }
            }
            li:last-child {
              margin: 0;
              .progress-status {
                width: 12px;
                height: 12px;
                margin: 8px auto 0;
                background: #ccc;
                border-radius: 50%;
                &:after {
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #ccc;
                  left: -100%;
                }
              }
            }
            li {
              margin: 0 40px 0 0;
              min-width: 60px;
              position: relative;
              z-index: 1;
              display: inline-block;
              font-size: 12px;
              .progress-status {
                width: 12px;
                height: 12px;
                margin: 8px auto 0;
                background: #ccc;
                border-radius: 50%;
                &:before {
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #ccc;
                  right: 50%;
                }
                &:after {
                  position: absolute;
                  bottom: 5px;
                  z-index: -1;
                  display: block;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #ccc;
                }
              }
            }
          }
        }
        p {
          margin: 16px 0 0;
          line-height: 1.5;
          .bold {
            font-weight: 600;
          }
        }
      }
      .transact-form-review {
        width: 280px;
        margin: 0 auto;
        padding: 40px 0;
        .checkbox-default {
          position: relative;
          font-size: 0;
          .icon-check {
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 1;
            width: 20px;
            height: 20px;
            border-radius: 2px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 10px;
            line-height: 17px;
            text-align: center;
            color: #fff;
            vertical-align: middle;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
          label {
            position: relative;
            z-index: 2;
            padding: 0 0 0 15px;
            font-size: 14px;
            font-weight: 400;
            vertical-align: middle;
            cursor: pointer;
          }
        }
        .transact-review-list {
          margin: 32px 0 0;
          @include clearfix;
          li:last-child {
            margin: 0;
          }
          li {
            position: relative;
            float: left;
            margin: 0 20px 0 0;
            input {
              display: none;
            }
            .transact-review-icon {
              position: relative;
              width: 80px;
              height: 80px;
              border-radius: 4px;
              border: 1px solid #ccc;
              text-align: center;
              i {
                margin: 14px 0 0;
                font-size: 30px;
                display: inline-block;
                font-family: 'icon-font';
                font-style: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
              }
            }
          }
        }
        p {
          margin: 32px 0 0;
          font-size: 14px;
        }
        textarea {
          width: 100%;
          max-width: 280px;
          margin: 8px 0 0;
          display: block;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
        }
        .btn-red {
          margin: 8px 0 0;
        }
        .btn-default:disabled {
          border: 1px solid #888;
          background: #888;
        }
      }
      .transact-button {
        padding: 24px 32px;
      }
      .message-container {
        @include clearfix;
        .message-content1 {
          @include clearfix;
          padding: 24px;
          background: #fff;
          .message-items {
            margin: 0;
            @include clearfix;
            li:first-child {
              margin: 1.5em 0 0;
              .message-user {
                float: left;
                position: relative;
                top: -20px;
                display: inline-block;
                color: #333;
                figure {
                  display: block;
                  float: left;
                  margin-bottom: 80px;
                  div {
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                    img {
                      width: 100%;
                    }
                  }
                  figcaption {
                    width: 600px;
                    min-width: 600px;
                    overflow: hidden;
                    position: absolute;
                    top: 0;
                    left: 56px;
                    max-width: 100%;
                    height: 1.2em;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-weight: 600;
                  }
                }
              }
              .message-body {
                width: 600px;
                float: right;
                position: relative;
                padding: 16px;
                background: #eef0f4;
                border-radius: 15px;
                line-height: 1.5;
                word-break: break-all;
                .message-icons {
                  margin: 8px 0 0;
                  time {
                    display: block;
                    color: #aaa;
                  }
                  .message-icon-left {
                    float: left;
                  }
                }
                .icon-balloon {
                  position: absolute;
                  top: 8px;
                  left: -9px;
                  color: #eef0f4;
                }
              }
            }
            .message-self {
              @include clearfix;
              .message-user {
                float: right;
                color: #ea352d;
                position: relative;
                top: -20px;
                display: inline-block;
                figure {
                  display: block;
                  float: right;
                  right: 0;
                  margin-top: 75px;
                  div {
                    width: 40px;
                    height: 40px;
                    overflow: hidden;
                    border-radius: 50%;
                    img {
                      width: 100%;
                    }
                  }
                  figcaption {
                    font-weight: bold;
                    left: auto;
                    right: 56px;
                    text-align: right;
                    width: 600px;
                    min-width: 600px;
                    height: 1.2em;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    overflow: hidden;
                    position: absolute;
                    top: 75px;
                  }
                }
              }
              .message-body {
                float: left;
                background: #fbf0e6;
                width: 600px;
                position: relative;
                padding: 16px;
                border-radius: 15px;
                line-height: 1.5;
                word-break: break-all;
                margin-top: 60px;
                .message-icons {
                  margin: 8px 0 0;
                  time {
                    display: block;
                    color: #aaa;
                    .icon-time {
                      vertical-align: middle;
                    }
                  }
                }
                .icon-balloon {
                  transform: scaleX(-1);
                  color: #fbf0e6;
                  right: -9px;
                }
              }
            }
          }
        }
        .message-content2 {
          padding: 24px;
          height: 248px;
          @include clearfix;
          .message-form {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            input {
              border: 0;
              outline: 0;
              font-family: inherit;
              -webkit-appearance: none;
            }
            p {
              padding: 8px;
              font-size: 14px;
              background: #fff6de;
              display: block;
              margin-block-start: 1em;
              margin-block-end: 1em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              width: 100%;
              height: 30px;
              bottom: 0;
            }
            .textarea-default {
              display: block;
              width: 100%;
              max-width: 100%;
              min-height: 104px;
              padding: 10px;
              border: 1px solid #ccc;
              background: #fff;
              font-size: 16px;
              line-height: 1.5;
              margin: 8px 0 0;
            }
            .message-submit {
              width: 100%;
              margin: 8px 0 0;
              font-size: 0;
              text-align: center;
            }
            .btn-gray {
              color: #fff;
              background: #aaa;
              border: 1px solid #aaa;
            }
            .btn-default {
              transition: all ease-out .3s;
              cursor: pointer;
              font-size: 14px;
              vertical-align: middle;
            }
          }
        }
      }
      .message-content3 {
        padding: 24px;
        @include clearfix;
      }
    }
  }
  .l-side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    .l-side-container:first-of-type {
      margin: 0;
      @include clearfix;
      .transact-info-head {
        padding: 0;
        font-size: 16px;
      }
      .transact-info-inner {
        margin: 8px 0 0;
        background: #fff;
        .transact-info-table {
          border: 1px solid #eee;
          display: table;
          width: 100%;
          li {
            line-height: 1.5;
          }
          .transact-info-table-row {
            display: table-row;
            .transact-info-table-cell:first-child {
              width: 35%;
            }
            .buyer-name {
              font-weight: bold;
            }
            .transact-info-table-cell {
              display: table-cell;
              padding: 16px;
              vertical-align: top;
              word-wrap: break-word;
            }
            ul {
              list-style: none;
              li {
                line-height: 1.5;
                img {
                  width: 80px;
                }
                .transact-info-item {
                  margin: 8px 0 0;
                  color: #0099e8;
                  text-decoration: underline;
                  font-size: 16px;
                  word-break: break-all;
                }
                .bold {
                  font-weight: bold;
                }
              }
            }
          }
          .transact-info-table-row:nth-child(even) {
            background: #fafafa;
          }
          li {
            line-height: 1.5;
          }
        }
      }
    }
    .l-side-container {
      margin: 40px 0 0;
      @include clearfix;
      .transact-info-head {
        font-size: 16px;
        font-weight: bold;
      }
      .transact-info-inner {
        margin: 8px 0 0;
        background: #fff;
        .transaction-user-icon {
          position: relative;
          display: block;
          color: #333;
          figure {
            padding: 16px;
            font-size: 0;
            height: 72px;
            @include clearfix;
            .image-box {
              overflow: hidden;
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              vertical-align: middle;
              float: left;
              img {
                vertical-align: middle;
                float: left;
              }
            }
            .figcaption {
              max-width: 160px;
            }
            .bold {
              font-weight: bold;
            }
            .transact-user-name {
              overflow: visible;
              text-overflow: inherit;
              white-space: normal;
              font-size: 16px;
              font-weight: bold;
              display: block;
              margin-top: 12px;
              margin-left: 50px;
            }
          }
          i {
            position: absolute;
            top: 50%;
            right: 16px;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
          }
        }
      }
    }
  }
}
