.single-container{
  background-color:#f5f5f5;
  width:100vw;
  height:100vh;
  .single-main{
    display:block;
    height:54%;
    width:100%;
    .login-panel{
      background-color:#ffffff;
      width: 456px;
      margin: 0 auto;
      max-width: none;

      .login__no-account{
        padding: 40px 64px;
        text-align: center;
      }
      .login__sns-account{
        border-top: 1px solid #eee;
        padding: 32px 64px;
        text-align: center;
      }
      .login__mail-account{
      }
    }






    #login_form_facebook{
    }
    #login_form_google{
    }
  }
}
