.single-container {
  padding: 0 0 220px;
  .single-header {
    height: 128px;
    text-align: center;
    h1 {
      display: inline-block;
      a {
      width: 185px;
      height: 49px;
      line-height: 49px;
      display: inline-block;
      margin: 0 8px 0 0;
      color: #0099e8;
      text-decoration: none;
      touch-action: manipulation;
      }
    }
    .progress-bar {
      padding: 40px 0 0 44px;
      border: 0;
      display: inline-block;
      vertical-align: top;
      font-size: 0;
      text-align: center;
      ol {
        margin: 0;
        list-style: none;
        li {
          margin: 0 40px 0 0;
          min-width: 60px;
          position: relative;
          z-index: 1;
          display: inline-block;
          font-size: 12px;
          color: #888;
        }
        li:not(:first-child) {
          .progress-status {
            z-index: 10;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
          }
          .progress-status:before {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
            right: 50%;
          }
        }
        li:not(:last-child) {
          .progress-status {
            z-index: 10;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: #ccc;
            border-radius: 50%;
          }
          .progress-status:after {
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: #ccc;
            left: 50%;
          }
        }
        li.active {
          font-weight: 600;
          color: #ea352d;
          .progress-status {
            background: #ea352d;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
        }
      }
    }
  }
  main {
    display: block;
    .l-single-container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
      .l-single-head {
        padding: 32px 16px;
        font-size: 22px;
        line-height: 1.5;
        text-align: center;
        font-weight: bold;
      }
      .l-single-inner {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        }
        .l-single-content {
          max-width: 320px;
          margin: 0 auto;
          .form-group{
            label{
              font-weight:bold;
            }
          }
          .l-chapter-sub-head {
            font-size: 16px;
            font-weight: bold;
          }
          .l-single-text {
            margin: 8px 0 0;
            padding: 0;
            line-height: 1.5;
          }
          .select-wrap {
            width: 140px;
            display: inline-block;
            margin: 8px 0 0;
            position: relative;
            background: #fff;
            select {
              width: 100%;
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
            }
          }
          .form-require {
            margin-left: 10px;
            background-color:#ea352d;
            color:white;
            padding: 2px;
            border-radius:2px;
            font-size:13px;
          }
          .form-optional {
            margin-left: 10px;
            background-color:gray;
            color:white;
            padding: 2px;
            border-radius:2px;
            font-size:13px;
          }
        }
        .form-info-text {
          color: #888;
          margin: 8px 0 0;
          line-height: 1.5;
          text-align:center;
        }
        a {
          color: #0099e8;
        }
      }
      .btn-red {
        margin: 40px 0 0;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
        a{
          color:white;
        }
      }
      .text-right {
        text-align: right;
      }
    }
    li {
      margin-left: 18px;
    }
    .single-footer-logo img {
      margin-top: 40px;
    }
    .small {
      margin: 8px 0 0;
    }
  }
