var category = $('.category select').val();
if (category >= 1) {
  var html = `<%= j(select :item, :child_category_id, options_from_collection_for_select(@child_category, :id, :name),{:include_blank => '---'}, {data: {remote: true, url: url_for(action: :child_category_select)}})%>
              <%= fa_icon 'angle-down' %>`
  $('#category-select').html(html);
  $('#child-category-select').html('');
}
if (category == '') {
  $('#category-select').html('');
  $('#child-category-select').html('');
}


var child_category = $('.child-category select').val();
if (child_category >= 1 ) {
  var html = `<%= j(select :item, :grand_child_category_id, options_from_collection_for_select(@grand_child_category, :id, :name),{:include_blank => '---'},{data: {remote: true, url: url_for(action: :brand_category)}}))%>
              <%= fa_icon 'angle-down' %>`
  $('#child-category-select').html(html);
}

var grand_category = $('.grand-child-category select').val();
if(grand_category >= 1) {
  var html = `<label>ブランド(任意)</label>
              <div class="select-wrap">
                Hello
              </div>`

  $('#')
}
