.header-wrapper
  = render 'header'

/ トップページの商品一覧(カテゴリー別新着アイテム最大4点)今はカテゴリーは考えず作っています
%main.mainpage
  = render 'items'

= render 'footer'

/ 商品出品ボタン(右下固定)
.footer-sell-btn
  = link_to root_path ,style: "text-decoration: none;" do
    .footer-sell-btn__text
      出品
    %i.fas.fa-camera.icon-camera
