/ = render 'shared/header'

%main.l-container.clearfix
  .brand-wrapper
    .brand-index.clearfix
      %h2 ブランド一覧


    .category-container.clearfix
      .name-box
        %a{href: "#"}
          レディース
      .name-box
        %a{href: "#"}
          メンズ
      .name-box
        %a{href: "#"}
          ベビー・キッズ
      .name-box
        %a{href: "#"}
          インテリア・住まい・雑貨
      .name-box
        %a{href: "#"}
          キッチン・食器
      .name-box
        %a{href: "#"}
          時計
      .name-box
        %a{href: "#"}
          コスメ・香水・美容
      .name-box
        %a{href: "#"}
          テレビゲーム
      .name-box
        %a{href: "#"}
          スポーツ・レジャー
      .name-box
        %a{href: "#"}
          スマートフォン・携帯電話
      .name-box
        %a{href: "#"}
          バイク
      .name-box
        %a{href: "#"}
          楽器
      .name-box
        %a{href: "#"}
          自動車パーツ
      .name-box
        %a{href: "#"}
          食品
      .name-box
        %a{href: "#"}
          国内自動車本体
      .name-box
        %a{href: "#"}
          外国自動車本体

    .brand-initial-container.clearfix
      .initial__box.clearfix
        %a{href: "#"}
          %p ア
      .initial__box.clearfix
        %a{href: "#"}
          %p イ
      .initial__box.clearfix
        %a{href: "#"}
          %p ウ
      .initial__box.clearfix
        %a{href: "#"}
          %p エ
      .initial__box.clearfix
        %a{href: "#"}
          %p オ

    .brand-name-container
      .category-name
        %h3 バイク

      .brand-name-list
        - @category.category_brands.each do |category_brand|
          .brand-name__initial
            %h4
              - if category_brand.brand.initial
              = category_brand.brand.initial
          .brand-name__wrapper
            - @category.category_brands.each do |category_brand|
              .brand-name__box--left
                %a{href: "#", class: "brand-name-link"}
                  .brand-name
                    %p
                    = category_brand.brand.name


= render 'shared/footer'

= render 'shared/sell-button'
